@charset "UTF-8";

.bandeira{
    flex-direction: row;
}

.quemsomos{
  flex-direction: row;
  justify-content: center;
  
  gap: 50px;
  
}

.txt-quemsomos{
  width: 40%;
  margin: 0px;
}


.contato{
  display: flex;
  justify-content: center;
  gap: 150px;
  flex-direction: row;
}

.colaboracao{
  text-align: left;
}

.box-logo{
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: row;
}



.footer{
  height: 300px;
}

.sessao-footer{

  justify-content: start;
  flex-direction: row;
  
}

.links-uteis > li{
  font-size: 1.3em;
  margin: 20px 0px;
}

.sessao-footer > div{
margin-top: 25px;
margin-right: 60px;
}

.form {
    
  width: 300px;
  font-size: 1.125rem;
}

.links-uteis > li{
  font-size: 1.3em;
  margin: 20px 0px;
}

.sessao-footer > div{
margin-top: 25px;
margin-right: 60px;
}

